<link rel="stylesheet" href="app/components/directives/calendar/calendar.css" />
<div ng-cloak="" class="virtualRepeatdemoHorizontalUsage">
  <md-virtual-repeat-container id="horizontal-container" md-orient-horizontal>

    <md-input-container ng-if="pickertype === 'date'" style="overflow: visible;">
      <button type="button" class="calendar btn btn-info btn-lg btn-date" ng-click="isDateOpen=true"><span class="glyphicon glyphicon-calendar"></span>  Select Date </button>
      <md-datepicker ng-hide="true" ng-model="myDate" md-is-open="isDateOpen" md-placeholder="Enter date" ng-change="config.click(myDate, 'date')"></md-datepicker>
    </md-input-container>
    <md-input-container ng-if="pickertype === 'time'">
      <div>
        <button type="button" class="calendar btn btn-info btn-lg btn-time" ng-click="showTimePicker($event)"><span class="glyphicon glyphicon-time"></span>  Select Time </button>
      </div>
    </md-input-container>
    
    <div ng-if="pickertype === 'daterange'" style="padding-top:10px; padding-right:20px;width: 394px;" flex layout="row">
      <!--<section>-->
        <div flex="10"></div>
        <div flex="40">
          <button type="button" class="calendar btn btn-info btn-lg " ng-click="isOpen=true"><span class="glyphicon glyphicon-calendar"></span>  Start Date </button>
        <md-datepicker ng-hide="true" ng-model="startDate" md-is-open="isOpen" md-placeholder="" ng-change="config.click(startDate, 'daterange', 'startdate', '{{startDate = ''}}');endMinDateFromStartDate(startDate)"  md-min-date="startMinDate" md-max-date="startMaxDate"></md-datepicker>
        </div>
        <div>&nbsp;</div>
        <div flex="40">
          <button type="button" class="calendar btn btn-info btn-lg" ng-click="isOpenEnd=true"><span class="glyphicon glyphicon-calendar"></span>  End Date </button>
        <md-datepicker ng-hide="true" ng-model="endDate" md-is-open="isOpenEnd" md-placeholder="" ng-change="config.click(endDate, 'daterange', 'enddate', '{{endDate = ''}}')"  md-min-date="endMinDate" md-max-date="endMaxDate" md-date-filter="enableEndDates"></md-datepicker>
        </div>
        <div flex="10"></div>
      <!--</section>-->
    </div>

  </md-virtual-repeat-container>
</div>