.virtualRepeatdemoHorizontalUsage #horizontal-container {
    height: 70px;
    width: 100%;
    max-width: 830px;
  }

  .virtualRepeatdemoHorizontalUsage .repeated-item {
    /*border-right: 1px solid #ddd;*/
    box-sizing: border-box;
    display: inline-block;
    height: 84px;
    padding-top: 26px;
    text-align: center;
    width: 180px;
    /*max-width:200px;
    min-width:110px;*/
    margin: 0px 3px 0px 3px;
  }

  .virtualRepeatdemoHorizontalUsage md-content {
    margin: 16px;
  }

  .virtualRepeatdemoHorizontalUsage md-virtual-repeat-container {
    border: solid 1px grey;
  }

  md-dialog {
    margin-bottom: 38%;
  }

  md-input-container {
    margin: 8px 0;
  }

  .date-time-calendar .repeated-item {
    /*border-right: 1px solid #ddd;*/
    box-sizing: border-box;
    display: inline-block;
    height: 60px;
    padding-top: 26px;
    text-align: center;
    width: 180px;
    /*max-width:200px;
    min-width:110px;*/
    margin: 0px 3px 0px 3px;
    position: relative;
    bottom: 30px;
  }

  .date-time-calendar md-content {
    margin: 16px;
  }


  .md-date-time-center {
    position: relative;
    top: 20px;
    left: 25px;
  }

  .datetimePosition {
    position: relative;
    top: 20px;
    left: 25px;
  }

  .date-range {
    position: relative;
    top: 1em;
    left: 0.5em;
  }

  .calendar {
    /*background-repeat: no-repeat;*/
    border: 2px solid #003a66;
    border-radius: 10px;
    color: #003a66;
    background: #fff;
  }

  .calendar:focus {
    background-color: #003a66;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;
    color: #fff;
  }

  .btn-date{
    margin-left: 60%; 
    /*background-color:#ccc;   */
  }
  .btn-time{
    margin-left:60%;
    /*background-color:#ccc;*/
  }

  .btn-daterange {
    margin-right: 35px;
    margin-left: 35px;
    /*background-color:#ccc;*/
  }

  .md-datepicker-calendar-pane.md-pane-open{
    left: -15px;
    top: 124px;
    margin: 7%;
  }

  /*.md-virtual-repeat-container.md-orient-horizontal .md-virtual-repeat-scroller{
        overflow: hidden;
  }*/