<!DOCTYPE html>
<style>
  .virtualRepeatdemoHorizontalUsage #horizontal-container {
    height: 100px;
    width: 100%;
    max-width: 830px;
  }

  md-input-container {
    margin: 8px 0;
  }

  .virtualRepeatdemoHorizontalUsage .repeated-item {
    /*border-right: 1px solid #ddd;*/
    box-sizing: border-box;
    display: inline-block;
    height: 84px;
    padding-top: 26px;
    text-align: center;
    width: 180px;
    /*max-width:200px;
    min-width:110px;*/
    margin: 0px 3px 0px 3px;
  }

  .virtualRepeatdemoHorizontalUsage md-content {
    margin: 16px;
  }

  .virtualRepeatdemoHorizontalUsage md-virtual-repeat-container {
    border: solid 1px grey;
  }

  md-dialog {
    margin-bottom: 38%;
  }
</style>


<div ng-cloak="" class="virtualRepeatdemoHorizontalUsage">
  <md-virtual-repeat-container id="horizontal-container" md-orient-horizontal>
    <div md-virtual-repeat="slide in data" class="repeated-item " flex>
      <input type="button" value="{{slide.title}} {{slide.subtitle}}" class="quickreply" ng-click="config.click(slide.value)" style="width: 100% !important; white-space: normal;"
      />
      <!--<h4 class="title"> {{slide.title}} </h4>
      <p class="sub-title"> {{slide.subtitle}} </p>-->
    </div>
  </md-virtual-repeat-container>
</div>



<!--<ks-swiper-container initial-slide="0" loop="false" show-nav-buttons="false" slides-per-view="2" space-between="20" pagination-clickable="false">

  <ks-swiper-slide class="swiper-slide swiper-slide-leave-status" ng-repeat="slide in data" ng-click="config.click(slide.value)">
    <div>
      <h4 class="title"> {{slide.title}} </h4>
      <p class="sub-title"> {{slide.subtitle}} </p>
    </div>
  </ks-swiper-slide>
</ks-swiper-container>-->