<!DOCTYPE html>
<div class="container margin-top30px padding-0px">
  <div class="bot">
    <div class="botdiv" aria-hidden="false">
      <div class="botic"></div>
      <div class="botname ng-binding">{{vm.UOTMName}}</div>
    </div>
    <div style="clear:both;"></div>
    <font>
      Hi {{vm.name}}, my name is Zeno. I am currently responding to Leave &amp; Muster related queries and transactions . How can
      I help you?</font>
  </div>


  <div>
    <div class="row margin0" ng-repeat="chat in vm.chats" style="padding-top:10px;">
      <chatmessage ng-if="chat.say != null " say="chat.say" name="chat.name" source="chat.source" index="$index" cdate="chat.cdate"
        data="chat.data" />
      <chatlist ng-if="chat.type == 'list' " data="chat.data" />
      <!--{{chat.bg}}-->
    </div>
    <div ng-show="vm.msgtyping" style="bottom: 5px;">
      <img src="app/main/typing-indicator.gif" alt="typing image">
    </div>
  </div>
  <div style="margin-bottom: 42%;"></div>
  <div id="footer">
    <div>
      <chatpoll ng-if="vm.lastReply.source == 'bot' && vm.lastReply.type == 'poll'" say="chat.say" data="vm.lastReply.data" config="vm.pollConfig"/>
    </div>
    <div>
      <chatquickreply ng-if="vm.lastReply.source == 'bot' && vm.lastReply.type == 'quickreply'" replies="vm.lastReply.data" config='vm.qckrepConfig'/>
    </div>
    <div>
      <calendar ng-if="vm.lastReply.source == 'bot' && vm.lastReply.type == 'calendar'" pickertype="vm.lastReply.data" config='vm.calendarDateFormat'/>
    </div>
    <form>

      <input type="text" placeholder="Type a message" class="input-message form-control" ng-model="vm.message">
      <input type="submit" value="" class="send" ng-click="vm.sendMessage()" aria-label="send" ng-disabled="vm.sendButtonDisable"
      />
      <!--<img role="img" src="assets/images/voice.svg"/>-->
      <!--<md-icon class="voice" ng-click="vm.jsMethod()" aria-label="android"></md-icon>-->
      <!--<md-icon md-svg-src="" aria-label="android "></md-icon>-->
      <!--<md-icon class="textSpeech" ng-click="vm.textToSpeech(vm.message)"-->
      <!--aria-label="android"></md-icon>-->
      <!--<button ng-click="vm.chatbotSession()">-->
      <!--chatbotSession-->
      <!--</button>-->
      <!--<button ng-click="vm.textToSpeech(vm.message)">-->
      <!--textToSpeech-->
      <!--</button>-->
    </form>
  </div>
</div>