body,
html {
    padding: 0;
    margin: 0;
    font-family: arial;
    font-size: 1em;
}


/*body{background-color: #e8e8e8;}*/

.row {
    width: 100%;
    clear: both;
    overflow: auto
}

.bg-blue {
    border-top: 10px solid #36B0E4;
}

.bg-blue::after {
    border-top: 10px solid #36B0E4 !important;
}

.bg-blue::before {
    border-top: 10px solid #36B0E4 !important;
}

.bg-blue1 {
    border-top: 10px solid #29AAE2;
}

.bg-blue1::after {
    border-top: 10px solid #29AAE2 !important;
}

.bg-blue1::before {
    border-top: 10px solid #29AAE2 !important;
}

.bg-yellow {
    border-top: 10px solid #FDB813;
}

.bg-yellow::after {
    border-top: 10px solid #FDB813 !important;
}

.bg-yellow::before {
    border-top: 10px solid #FDB813 !important;
}

.bg-green {
    border-top: 10px solid #a9cf24;
}

.bg-green::after {
    border-top: 10px solid #a9cf24 !important;
}

.bg-green::before {
    border-top: 10px solid #a9cf24 !important;
}

.bg-pink {
    border-top: 10px solid #ED3E96;
}

.bg-pink::after {
    border-top: 10px solid #ED3E96 !important;
}

.bg-pink::before {
    border-top: 10px solid #ED3E96 !important;
}

.bg-purple {
    border-top: 10px solid #6951A2;
    color:white !important;
}

.bg-purple::after {
    border-top: 10px solid #6951A2 !important;
    color:white !important;
}

.bg-purple::before {
    border-top: 10px solid #6951A2 !important;
    color:white !important;
}


/*scope.borders=['10px solid #36B0E4',' 10px solid #29AAE2', '10px solid #FDB813','10px solid #a9cf24','10px solid #ED3E96','10px solid #6951A2'];*/


/*.user{max-width:80%;position: relative;float: right; background:#003a66; color:#fff; border-radius:20px;padding: 5px 10px;overflow: hidden;}*/

.user {
    position: relative;
    max-width: 80%;
    background: #073d63;
    text-align: right;
    /*min-width: 45%;*/
    padding: 5px 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
    float: right;
    /*color: #000;*/
    right: 20px;
}

.user::before {
    content: '';
    position: absolute;
    visibility: visible;
    top: -1px;
    right: -10px;
    border: 10px solid transparent;
    /*border-top: 10px solid #ccc;*/
}

.user::after {
    content: '';
    position: absolute;
    visibility: visible;
    top: 0px;
    right: -8px;
    border: 10px solid transparent;
    border-top: 10px solid #073d63;
    clear: both;
}

.user .chat {
    color: rgba(255, 255, 255, 1);
    font-size: 1em;
    position: relative;
    float: left;
    word-wrap: break-word;
    width: 96%;
    text-align: left;
    padding-top: 5px;
}

.user .time {
    font-size: 0.7em;
    color: rgba(255, 255, 255, 0.5);
    position: relative;
    float: right;
    padding-left: 15px;
}

.user:after {
    margin-bottom: 20px;
}

/*.bot {
    position: relative;
    float: left;
    max-width: 80%;
    min-width: auto;
    padding: 10px 15px;
    border-radius: 20px;
    background: #f1eff0;
    color: #242424;
    font-size: 1em;
    margin: 10px 0 5px 10px
}*/

.bot {
    position: relative;
    float: left;
    max-width: 80%;
    min-width: auto;
    padding: 5px 15px;
    border-radius: 6px;
    background: #ccc;
    /*color: #242424;*/
    font-size: 1em;
    margin: 10px 0 5px 10px;
    left: 10px;
    border: 1px solid #ccc;
}

/*.bot {
    position: relative;
    max-width: 80%;
    background: #ccc;
    text-align: right;
    min-width: 45%;
    padding: 5px 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
    float: left;
    color: #2e2e2e;
    left: 10px;
}*/

.bot::before {
    content: '';
    position: absolute;
    visibility: visible;
    top: -1px;
    left: -10px;
    border: 10px solid transparent;
    border-top: 10px solid #ccc;
}

.bot::after {
    content: '';
    position: absolute;
    visibility: visible;
    top: 0px;
    left: -8px;
    border: 10px solid transparent;
    border-top: 10px solid #ccc;
    clear: both;
}

.bot .chat {
    font-size: 1em;
    position: relative;
    float: left;
    word-wrap: break-word;
    width: 96%;
    text-align: left;
    padding-top: 5px;
}

.bot .time {
    font-size: 0.7em;
    color: #777;
    position: relative;
    float: right;
    padding-left: 15px;
}

#footer {
    background: #fff;
    position: fixed;
    bottom: 0;
    height: auto;
    padding: 0px 0;
    border-top: 1px solid #b2b2b2;
    width: 100%;
    z-index: 99;
    left: 0px;
}

#footer textarea {
    height: 34px;
    width: 80%;
    resize: none;
    border: none;
    padding: 5px;
    float: left;
    outline: none
}

#footer .send {
    background: url("send.svg");
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    height: 30px;
    outline: none;
    position: relative;
    width: 8%;
    float: right;
    margin: 0;
    padding: 0px;
    top: 1px;
    margin-right: 4px;
}

#footer .voice {
    background: url("voice.svg");
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    height: 28px;
    outline: none;
    position: relative;
    float: right;
    margin: 0;
    padding: 0px;
    top: 1px;
    margin-top: -32px;
    left: -37px;
    width: 11%;
}

.swiper-container {
    width: 100%;
    margin: 0px auto;
}

.swiper-slide-leave-status {
    width: auto;
}

.swiper-slide {
    text-align: center;
    font-size: 1em;
    padding: 10px;
    border-radius: 10px;
    background: #eee;
    width: auto;
    /*padding:5px 10px;*/
    /*Center slide text vertically */
    /*display: -webkit-box;*/
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    display: inline-block;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    /*height: 10%;*/
    background: #fff !important;
    border: 1px solid #003a66;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 30px;
}

.swiper-slide:nth-child(2n) {
    width: 40%;
}

.swiper-slide:nth-child(3n) {
    width: 20%;
}

.margin-bottom-140 {
    margin-bottom: 90px;
}

.quickreply {
    border: 2px solid #003a66;
    border-radius: 10px;
    color: #003a66;
    background: #fff;
}

.footer-swiper-slide {
    margin: 0px;
    background: transparent;
    border: 0px;
}

.quickreply:focus {
    background-color: #003a66;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;
    color: #fff;
}

.input-message {
    width: 90%;
    float: left
}

.title {
    position: relative;
    display: block;
    width: 100%;
    /*top: -7px;*/
    /*left: 10px;*/
    top: 0;
    text-align: center;
    font-weight: bold;
    overflow: hidden;
    font-size: 1.2em;
    padding: 0;
    margin: 0;
}

.sub-title {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: block;
    top: 0px;
    text-align: center;
    /*right: 18px;*/
    font-size: 1.1em;
    padding: 0;
    margin: 0;
}

.useric {
    width: 10%;
    position: relative;
    float: right;
    color: #e8821c;
}

.botic {
    background-image: url(boticon.png);
    padding-right: 30px;
    position: relative;
    float: left;
    width: 25px;
    height: 30px;
    background-size: cover;
    width: 10%;
    float: left;
}

.margin-top30px {
    margin-top: 30px;
}

.margin0 {
    margin: 0px !important;
}

.padding-0px {
    padding: 0px !important;
}

.username {
    font-size: 0.8em;
    font-weight: bold;
    color: #e8821c;
    position: relative;
    width: 90%;
    float: left;
    padding-right: 10px;
}

.botname {
    font-size: 0.8em;
    font-weight: bold;
    color: #113957;
    position: relative;
    width: 60%;
    float: left;
    padding-left: 10px;
    line-height: 30px;
}

.userdiv {
    position: relative;
    width: 100%;
}

.swiper-wrapper {
    margin: 10px 0px;
}