<div class="{{source}}">
  <!--ng-style="{'background': colors[index % colors.length]}",'border-top':borders[index % borders.length]-->
  <div ng-show="source != 'bot'" class="userdiv">
    <div class="username">{{name}}</div>
    <div class="glyphicon glyphicon-user useric"></div>
  </div>
  <div ng-show="source == 'bot'" class="botdiv">
    <div class="botic"></div>
    <div class="botname">{{name}}</div>
  </div>
  <div class="chat" ng-bind-html="say"></div>
  <div class="time">{{cdate}}</div>
</div>